@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[rgba(24,188,156,.2)] hover:bg-[rgba(24,188,156,.5)] rounded-md;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .custom-dropdown.el-popper {
    @media (prefers-color-scheme: dark) {
      background: #333 !important;
      border: 1px solid #4c4d4f !important;
    }

    .el-dropdown-menu {
      @media (prefers-color-scheme: dark) {
        background-color: #333 !important;

        .el-dropdown-menu__item {
          color: #b7c3cb !important;

          &:hover,
          &:focus {
            background-color: #616161 !important;
          }
        }
      }
    }

    .el-popper__arrow::before {
      @media (prefers-color-scheme: dark) {
        background: #333 !important;
          border: 1px solid #4c4d4f !important;
      }
    }
  }

  .el-dialog.my-dialog {
    --el-dialog-padding-primary: 0;
    @apply h-[50%] w-[50%] rounded-md bg-transparent;
  }
}
